## Lesson 1. Data Wrangling With Pandas

### Data Wrangling With Pandas Dataframes and Numpy Arrays in Python - Earth analytics bootcamp course module

Welcome to the first lesson in the Data Wrangling With Pandas Dataframes and Numpy Arrays in Python module. This tutorial walks you through wrangling data (e.g. subselect, combine and update) using pandas dataframes and numpy arrays.

In this lesson, you will learn how update, filter and group values in pandas dataframes and how to append new data to pandas dataframes.

### Learning Objectives

After completing this lesson, you will be able to:

* Run a function on a column within a pandas dataframe
* Filter values in a pandas dataframe
* Group values in a pandas dataframe
* Append new data to a pandas dataframe

#### Data Wrangling With Pandas

Pandas dataframes offer many ways to update and select data. In this lesson, you will learn about some common data tasks that can be very useful to:

1. update the values in specific columns using functions
2. create new dataframes from selections and from grouping data
3. create new dataframes by combining existing dataframes.

Begin by downloading and importing two pandas dataframes that contain temperature (Fahrenheit) for each month in 2010 to 2013 and 2014 to 2017.

In [9]:
# import necessary packages
import os
import pandas as pd
import urllib.request

# set the working directory
os.chdir("/Users/markb/earth-analytics-bootcamp/")

# download .csv containing monthly temperature in 2010 to 2013 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12815417", filename = "data/monthly-temp-2010-to-2013.csv")

# download .csv containing montly temperature in 2014 to 2017 for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12815420", filename = "data/monthly-temp-2014-to-2017.csv")

# import monthly temperature values for 2010 to 2013 as a pandas dataframe
monthly_temp_2010_to_2013 = pd.read_csv("/Users/markb/earth-analytics-bootcamp/data/monthly-temp-2010-to-2013.csv")

# import monthly temperature values for 2014 to 2017 as a pandas dataframe
monthly_temp_2014_to_2017 = pd.read_csv("/Users/markb/earth-analytics-bootcamp/data/monthly-temp-2014-to-2017.csv")

#### Review Structure of Dataframe

Recall that with the .head() method, you can see the structure of the data without having to print the entire dataframe.

Print .head() for each dataframe, and note their structures (i.e. how the data are organized).

In [13]:
# print .head for 2010 to 2013
monthly_temp_2010_to_2013.head()

      Month  Year  Temp  Season  Year_Avg Year_Avg_Label
0   January  2010  33.0  Winter    51.575            avg
1  February  2010  30.1  Winter    51.575            avg
2     March  2010  42.7  Spring    51.575            avg
3     April  2010  48.8  Spring    51.575            avg
4       May  2010  53.9  Spring    51.575            avg

In [14]:
# print .head for 2014 to 2017
monthly_temp_2014_to_2017.head()

      Month  Year  Temp  Season  Year_Avg Year_Avg_Label
0   January  2014  34.6  Winter   51.2917            avg
1  February  2014  32.0  Winter   51.2917            avg
2     March  2014  43.6  Spring   51.2917            avg
3     April  2014  49.8  Spring   51.2917            avg
4       May  2014  56.6  Spring   51.2917            avg